<%= search_form_for q, url: url do |f| %>
  <div class="input-group mb-3">
    <%= f.search_field :title_or_content_cont, class: 'form-control', placeholder: t('search_form.title_and_content_search') %>
    <%= f.search_field :user_name_cont, class: 'form-control', placeholder: t('search_form.user_search') %>
  </div>
    <div class="input-group-append">
      <%= f.submit t('search_form.search'), class: 'btn btn-primary' %>
    </div>
<% end %>