<!-- 連絡事項編集のタイトル -->
<p class="mt-8 mb-4 text-center text-2xl md:text-3xl text-gray-800 font-bold">連絡事項編集</p>

<!-- 編集フォーム -->
<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
  <%= render "form", post: @post %>
</div>

<!-- ボトムリンク -->
<div class="mt-6 flex justify-center items-center space-x-2">
  <%= link_to "連絡事項詳細", @post, class: "text-blue-500 hover:text-blue-700 transition duration-300 ease-in-out" %>
  <span class="mx-2">|</span>
  <%= link_to "連絡事項一覧に戻る", posts_path, class: "text-blue-500 hover:text-blue-700 transition duration-300 ease-in-out" %>
</div>